.App {
  text-align: center;

}

.App-add{
  width: 40%;
  background-color: rgb(201, 203, 206);
  padding: 50px;
}

.App-list{
  width: 60%;
  background-color: #282c34;
  padding: 50px;
  color: white;
}

.App-footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  background-color: darkcyan;
  color: aliceblue;
}

.App-container{
  display: flex;
  height: 530px;
}

table{
  font-size: 20px;
}